In [55]:
%reset -f

In [56]:
#.\.venv\Scripts\Activate.ps1

import pandas as pd
import numpy as np
from pathlib import Path

bases_path = Path("bases")

checklist = bases_path / "HERING_FRANQUIA_checklist_RA_NORMAL_RA_2025-12-10.xlsx"
cancelado = bases_path / "CA_CANCELADO.xlsx"
relatorio = bases_path / "relatorio_ra-todas_03e04-12-2025.xlsx"
df_check = pd.read_excel(checklist, engine="calamine", sheet_name="Tabela1")
df_cancelado = pd.read_excel(cancelado, engine="calamine")
df_relatorio = pd.read_excel(relatorio, header=5, engine="calamine")

In [57]:
df_check['DATA']

0      2025-12-10
1      2025-12-10
2      2025-12-10
3      2025-12-10
4      2025-12-10
          ...
5279   2025-12-10
5280   2025-12-10
5281   2025-12-10
5282   2025-12-10
5283   2025-12-10
Name: DATA, Length: 5284, dtype: datetime64[ns]

In [58]:
# Itera sobre o nome de cada coluna no seu DataFrame
for coluna in df_check.columns:
    # Verifica se a coluna é do tipo 'object', que é como o pandas armazena strings
    if df_check[coluna].dtype == 'object':
        print(f"Limpando espaços da coluna: {coluna}")
        # Se for uma coluna de texto, remove os espaços em branco do início e do fim
        df_check[coluna] = df_check[coluna].str.strip()

print("\nColunas de texto foram limpas.")

Limpando espaços da coluna: CANAL
Limpando espaços da coluna: FILIAL_NOME
Limpando espaços da coluna: REGIAO
Limpando espaços da coluna: SKU
Limpando espaços da coluna: ARTIGO_COR
Limpando espaços da coluna: PRODUTO
Limpando espaços da coluna: DESC_PRODUTO
Limpando espaços da coluna: COR
Limpando espaços da coluna: TAM
Limpando espaços da coluna: TAM_GRADE
Limpando espaços da coluna: NEGOCIO
Limpando espaços da coluna: PIRAMIDE
Limpando espaços da coluna: GENERO
Limpando espaços da coluna: IDADE_PRODUTO
Limpando espaços da coluna: GRUPO_PRODUTO
Limpando espaços da coluna: LINHA
Limpando espaços da coluna: CATEGORIA_EST_TOTAL
Limpando espaços da coluna: CATEGORIA_EST_DISP

Colunas de texto foram limpas.

In [59]:
df_check.columns

Index(['CANAL', 'FILIAL', 'FILIAL_NOME', 'REGIAO', 'SKU', 'ARTIGO_COR',
       'PRODUTO', 'DESC_PRODUTO', 'COR', 'TAM', 'TAM_GRADE', 'NEGOCIO',
       'PIRAMIDE', 'GENERO', 'IDADE_PRODUTO', 'GRUPO_PRODUTO', 'LINHA',
       'COLECAO', 'VELOCIDADE_VENDA', 'LEADTIME', 'COBERTURA', 'MINIMO',
       'PRESENTE', 'LOJA', 'TRANSITO', 'EMBALADO', 'RESERVADO', 'REGULADOR',
       'EM_MOVIMENTO', 'VENDAS_D_14', 'VENDAS_D_1', 'ALVO', 'NECESSIDADE',
       'RESSUPRIR', 'EST_TOTAL', 'EST_DISP', 'CATEGORIA_EST_TOTAL',
       'CATEGORIA_EST_DISP', 'DATA', 'CNPJ', 'CLISAP', 'CONT_RUPTURA',
       'CONT_RUPTURA_RESSUP', 'CONT_FALTA', 'VOLUME_FALTA', 'CONT_ALVO',
       'CONT_EXCESSO', 'VOLUME_EXCESSO'],
      dtype='object')

In [60]:
df_output = (df_check.groupby(['FILIAL'])[['VELOCIDADE_VENDA']].sum().query('VELOCIDADE_VENDA <= 0').reset_index())
df_output.head()

   FILIAL  VELOCIDADE_VENDA
0    1292               0.0

In [61]:
df_output_dois = (df_check.groupby(['FILIAL'])[['LOJA']].sum().query('LOJA < 0').reset_index())
df_output_dois.head()

Empty DataFrame
Columns: [FILIAL, LOJA]
Index: []

In [62]:
df_cancelado.columns

Index(['PontoVda', 'Sit', 'Usuario', 'Artigo', 'DtCancel', 'Tamanho', 'Pecas'], dtype='object')

In [63]:
df_relatorio.columns

Index(['Loja', 'Cod. Loja', 'CNPJ', 'CLISAP', 'Grife', 'Artigo', 'Cor',
       'Tamanho', 'Sexo', 'Grupo', 'Linha', 'Vel. de Vendas', 'Lead Time',
       'Cobertura', 'Mínimo', 'Alvo', 'Em Loja', 'Em Transito', 'Em Carteira',
       'Necessidade', 'Ruptura', 'Ressuprir', 'Cancelada', 'Faltou no Estoque',
       'Atendido (SAP)', 'Valor', 'Nr. Pedido', 'Data Pedido', 'Data Embarque',
       'Data de Geração', 'Status Item', 'Status Pedido', 'Retorno Pedido'],
      dtype='object')

In [64]:
df_relatorio.head()

,Loja,Cod. Loja,CNPJ,CLISAP,Grife,Artigo,Cor,Tamanho,Sexo,Grupo,...,Faltou no Estoque,Atendido (SAP),Valor,Nr. Pedido,Data Pedido,Data Embarque,Data de Geração,Status Item,Status Pedido,Retorno Pedido
0,RUA ANDRE CAVALCANTI-BHT,100,4729921000140,3612,HA,0111,AX7EN,M,MASCULINO,REGATAS,...,0,2,49,0026764562,2025-12-03 17:28:02,2025-12-15 00:00:00,2025-12-03,Sucesso,PEDACE,Venda Programada 26764562 foi gravado(a)
1,RUA ANDRE CAVALCANTI-BHT,100,4729921000140,3612,HA,0111,AX7EN,P,MASCULINO,REGATAS,...,0,2,49,0026764562,2025-12-03 17:28:02,2025-12-15 00:00:00,2025-12-03,Sucesso,PEDACE,Venda Programada 26764562 foi gravado(a)
2,RUA ANDRE CAVALCANTI-BHT,100,4729921000140,3612,HA,0111,AX7EN,XXG,MASCULINO,REGATAS,...,0,2,49,0026764562,2025-12-03 17:28:02,2025-12-15 00:00:00,2025-12-03,Sucesso,PEDACE,Venda Programada 26764562 foi gravado(a)
3,RUA ANDRE CAVALCANTI-BHT,100,4729921000140,3612,HA,0111,M2H07S,G,MASCULINO,REGATAS,...,0,2,49,0026764562,2025-12-03 17:28:02,2025-12-15 00:00:00,2025-12-03,Sucesso,PEDACE,Venda Programada 26764562 foi gravado(a)
4,RUA ANDRE CAVALCANTI-BHT,100,4729921000140,3612,HA,0111,M2H07S,M,MASCULINO,REGATAS,...,0,2,49,0026764562,2025-12-03 17:28:02,2025-12-15 00:00:00,2025-12-03,Sucesso,PEDACE,Venda Programada 26764562 foi gravado(a)

In [65]:
df_relatorio.columns

Index(['Loja', 'Cod. Loja', 'CNPJ', 'CLISAP', 'Grife', 'Artigo', 'Cor',
       'Tamanho', 'Sexo', 'Grupo', 'Linha', 'Vel. de Vendas', 'Lead Time',
       'Cobertura', 'Mínimo', 'Alvo', 'Em Loja', 'Em Transito', 'Em Carteira',
       'Necessidade', 'Ruptura', 'Ressuprir', 'Cancelada', 'Faltou no Estoque',
       'Atendido (SAP)', 'Valor', 'Nr. Pedido', 'Data Pedido', 'Data Embarque',
       'Data de Geração', 'Status Item', 'Status Pedido', 'Retorno Pedido'],
      dtype='object')

In [66]:
df_relatorio["Atendido (SAP)"].sum()

np.int64(42858)

In [67]:
df_relatorio["key"] = df_relatorio["Cod. Loja"].astype(str) + "_" + df_relatorio["Artigo"].astype(str) + "_" + df_relatorio["Cor"].astype(str) + "_" + df_relatorio["Tamanho"].astype(str)

In [38]:
colunas_relatorio = ['key','Atendido (SAP)']

convert_dict = {'key': str,
                'Atendido (SAP)': np.int64}
df_relatorio = df_relatorio[colunas_relatorio]

df_relatorio = df_relatorio.astype(convert_dict)

df_relatorio.head()

                  key  Atendido (SAP)
0    100_0111_AX7EN_M               2
1    100_0111_AX7EN_P               2
2  100_0111_AX7EN_XXG               2
3   100_0111_M2H07S_G               2
4   100_0111_M2H07S_M               2

In [68]:
df_relatorio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16208 entries, 0 to 16207
Data columns (total 34 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loja               16208 non-null  object
 1   Cod. Loja          16208 non-null  int64
 2   CNPJ               16208 non-null  int64
 3   CLISAP             16208 non-null  int64
 4   Grife              16208 non-null  object
 5   Artigo             16208 non-null  object
 6   Cor                16208 non-null  object
 7   Tamanho            16208 non-null  object
 8   Sexo               16208 non-null  object
 9   Grupo              16208 non-null  object
 10  Linha              16208 non-null  object
 11  Vel. de Vendas     16208 non-null  float64
 12  Lead Time          16208 non-null  float64
 13  Cobertura          16208 non-null  int64
 14  Mínimo             16208 non-null  int64
 15  Alvo               16208 non-null  int64
 16  Em Loja            16208 non-null  int64
 17  Em Transito        16208 non-null  int64
 18  Em Carteira        16208 non-null  int64
 19  Necessidade        16208 non-null  int64
 20  Ruptura            16208 non-null  int64
 21  Ressuprir          16208 non-null  int64
 22  Cancelada          16208 non-null  int64
 23  Faltou no Estoque  16208 non-null  int64
 24  Atendido (SAP)     16208 non-null  int64
 25  Valor              16208 non-null  object
 26  Nr. Pedido         16208 non-null  object
 27  Data Pedido        16208 non-null  object
 28  Data Embarque      16208 non-null  object
 29  Data de Geração    16208 non-null  object
 30  Status Item        16208 non-null  object
 31  Status Pedido      16208 non-null  object
 32  Retorno Pedido     16208 non-null  object
 33  key                16208 non-null  object
dtypes: float64(2), int64(15), object(17)
memory usage: 4.2+ MB

In [69]:
df_relatorio = df_relatorio.groupby('key')['Atendido (SAP)'].sum().reset_index()

In [70]:
df_relatorio

                       key  Atendido (SAP)
0       1000_53C2_1NEN_004               2
1       1000_53C2_1NEN_006              13
2       1000_53C2_1NEN_012               2
3       1000_53C2_1NEN_016               3
4      1000_55KN_AXTEN_004               1
...                    ...             ...
16195   996_N1TE_N0A00S_XP               1
16196    996_N1TE_N1007S_M               1
16197   996_N1TE_N1007S_XP               1
16198  996_N3A7_N1007S_EXG               0
16199    996_N3A7_N1007S_P               2

[16200 rows x 2 columns]

In [71]:
df_relatorio['Atendido (SAP)'].sum()

np.int64(42858)

In [72]:
df_check["key"] = df_check["FILIAL"].astype(str) + "_" + df_check["PRODUTO"].astype(str) + "_" + df_check["COR"].astype(str) + "_" + df_check["TAM"].astype(str)

In [73]:
filtro_região = df_check['REGIAO'].isin(['NORTE', 'NORDESTE'])

filtro_ressuprir = df_check['RESSUPRIR'] > 0 

df_check_filtrado = df_check[filtro_região & filtro_ressuprir]

df_resultado = df_check_filtrado.groupby(['FILIAL','key'])[['EMBALADO', 'RESERVADO', 'TRANSITO']].sum().reset_index()

In [74]:
df_cancelado.columns

Index(['PontoVda', 'Sit', 'Usuario', 'Artigo', 'DtCancel', 'Tamanho', 'Pecas'], dtype='object')

In [75]:
print("--- ANTES DA LIMPEZA ---")
df_cancelado.info()

# 1. Limpa os nomes das colunas, removendo espaços extras
df_cancelado.columns = df_cancelado.columns.str.strip()

# 2. Converte 'DtCancel' para o tipo data
#    'errors='coerce'' trata erros, transformando-os em NaT (Not a Time)
df_cancelado['DtCancel'] = pd.to_datetime(df_cancelado['DtCancel'], errors='coerce')

# 3. (Opcional mas recomendado) Converte a coluna 'Pecas' para o tipo 'Int64'
#    Isso a mantém como número inteiro, mesmo que existam valores nulos (NaN).
df_cancelado['Pecas'] = df_cancelado['Pecas'].astype('Int64')


print("\n\n--- DEPOIS DA LIMPEZA ---")
# O método .info() é excelente para verificar os nomes das colunas e seus tipos
df_cancelado.info()

--- ANTES DA LIMPEZA ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 642 entries, 0 to 641
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   PontoVda  642 non-null    int64
 1   Sit       642 non-null    object
 2   Usuario   642 non-null    object
 3   Artigo    642 non-null    object
 4   DtCancel  642 non-null    object
 5   Tamanho   642 non-null    object
 6   Pecas     642 non-null    int64
dtypes: int64(2), object(5)
memory usage: 35.2+ KB


--- DEPOIS DA LIMPEZA ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 642 entries, 0 to 641
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   PontoVda  642 non-null    int64
 1   Sit       642 non-null    object
 2   Usuario   642 non-null    object
 3   Artigo    642 non-null    object
 4   DtCancel  642 non-null    datetime64[ns]
 5   Tamanho   642 non-null    object
 6   Pecas     642 non-null    Int64
dtypes: Int64(1), datetime64[ns](1), int64(1), object(4)
memory usage: 35.9+ KB

In [76]:
df_cancelado.columns

Index(['PontoVda', 'Sit', 'Usuario', 'Artigo', 'DtCancel', 'Tamanho', 'Pecas'], dtype='object')

In [77]:
df_cancelado["key"] = df_cancelado["PontoVda"].astype(str) + "_" + df_cancelado["Artigo"].astype(str) + "_" + df_cancelado["Tamanho"].astype(str).astype(str)

df_cancelado = df_cancelado.groupby('key')['Pecas'].sum().reset_index()

In [78]:
resultado_final = df_resultado.merge(df_relatorio, how='left', on='key')
resultado_final['Atendido (SAP)'] = resultado_final['Atendido (SAP)'].fillna(0).astype(np.int64)

resultado_final

Empty DataFrame
Columns: [FILIAL, key, EMBALADO, RESERVADO, TRANSITO, Atendido (SAP)]
Index: []

In [79]:
resultado_final = resultado_final.merge(df_cancelado, how='left', on='key')
resultado_final['Pecas'] = resultado_final['Pecas'].fillna(0).astype(np.int64)
resultado_final

Empty DataFrame
Columns: [FILIAL, key, EMBALADO, RESERVADO, TRANSITO, Atendido (SAP), Pecas]
Index: []

In [80]:
resultado_final["verificação"] = np.where(
    (resultado_final['EMBALADO'] + 
     resultado_final['RESERVADO'] +
       resultado_final['TRANSITO']
    )
    >= resultado_final['Atendido (SAP)'], 'OK', 'VERIFICAR'
)

In [81]:
resultado_final

Empty DataFrame
Columns: [FILIAL, key, EMBALADO, RESERVADO, TRANSITO, Atendido (SAP), Pecas, verificação]
Index: []

In [82]:
resultado_final_filtrado = resultado_final[resultado_final['verificação'].isin(['VERIFICAR'])]

resultado_final_filtrado

Empty DataFrame
Columns: [FILIAL, key, EMBALADO, RESERVADO, TRANSITO, Atendido (SAP), Pecas, verificação]
Index: []

In [83]:
colunas_para_somar = ['EMBALADO', 'RESERVADO', 'TRANSITO', 'Atendido (SAP)', 'Pecas']

# Realizando o Group By e a soma
df_agrupado = resultado_final_filtrado.groupby('FILIAL')[colunas_para_somar].sum().reset_index()

# Renomeando a coluna 'Pecas' para 'Pecas Cancelado' conforme você pediu
df_agrupado = df_agrupado.rename(columns={'Pecas': 'Pecas Cancelado'})

# Visualizar o resultado
df_agrupado

Empty DataFrame
Columns: [FILIAL, EMBALADO, RESERVADO, TRANSITO, Atendido (SAP), Pecas Cancelado]
Index: []